__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.env.local
.env.*.local
.venv
.github/
env/
venv/
ENV/
env.bak/
venv.bak/

.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/

*.log
logs/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

db.sqlite3
*.db
postgres_data/
